# .gitignore

# Node modules
node_modules/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/ 

# Ignore environment files
.env

# Ignore Unix line endings
* text=auto
*.php text
*.html text
*.js text
*.css text
