# Environment
.env
config.php

# Logs
*.log
logs/

# Database
*.sql

# Uploads
uploads/

# Dependency directories
vendor/
node_modules/
jspm_packages/

# OS
.DS_Store
Thumbs.db

# Git normalization
* text=auto
.idea/ 
